@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");

body {
  background-image: url("https://st4.depositphotos.com/2485347/31507/v/950/depositphotos_315078072-stock-illustration-vector-seamless-pattern-of-question.jpg");
  margin: 0;
  font-family: "Sansita Swashed", cursive;
  min-height: 100vh;
  overflow-y: hidden;
}

$font-size-s: 1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.5rem;

$size-s: 0.6rem;
$size-m: 1.2rem;
$size-l: 1.6rem;

$screen-size: 800px;
